* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* background-image: url(../img/img-noise-361x370.png) */
    font-size: 14px;
    color: #5A6562;
    margin-top: 100px;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.2rem;
}

h2,
h3 {
    font-family: 'Baloo Bhaijaan';
    color: #F51963;
    text-transform: uppercase;
    text-align: center;
}

h5 {
    font-size: 1.2rem;
}

.logo--img {
    width: 120px;
}

.navbar-bg {
    background-color: #008ccc;
}

.navbar--text li a {
    color: white;
    transition: opacity 0.3s;
}

.navbar--text li a:hover {
    color: #F51963;
    opacity: 1;
}

.img-bg {
    background: url("../img/caroline-hernandez-219485-unsplash.jpg") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: 50% 3%;
    margin: 0;
}

.btn-bg {
    background-color: #008ccc;
    color: #fff;
}

.btn-bg:hover {
    background-color: #F51963;
    color: #fff;
}

.slider--titulo {
    color: #fff;
    font-size: 3rem;
    text-align: left;
}

.slider--parrafo {}

.contenedor__info {
    padding: 4rem 0 3rem;
}

.contenedor__info--text {
    padding-top: 30px;
    color: #fff;
}

.contenedor__info--interior {
    padding-bottom: 1rem;
}

.contenedor__info--box-card {
    border-top: solid 1px #E8E8E8;
    border-bottom: solid 1px #E8E8E8;
    padding: 40px;
}

.box__card {
    border-top: solid 1px #333;
    border-bottom: solid 1px #333;
    padding: 40px;
}

.icono {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

.icono:hover {
    background-color: #F51963;
}

.icono--border {
    border: 1px solid #323333;
}

.icono--fondo {
    background-color: #008ccc;
    color: #fff;
    border: solid 1px #dfdfdf4d;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.icono--grande {
    width: 130px;
    height: 130px;
    font-size: 5rem;
    padding-top: 8px;
}

.icons-redesociales li {
    display: inline-block;
    padding-right: 20px;
    margin-top: 10px;
}

.icons-redesociales li a {
    color: #fff;
}

.icons-redesociales li a:hover {
    color: #F51963;
}

.logo--footer {
    width: 150px;
    margin: 30px;
}

.bann--titulo {
    color: #fff;
    font-size: 3rem;
}
.img-bg-nosotros {
    background: url("../img/piron-guillaume-361651-unsplash.jpg") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    background-position: 50% 3%;
    margin: 0;
}

.box--circle{
    text-align: center;
    padding-bottom: 4rem;
}

.img-bg-noticias {
    background: url("../img/kelly-sikkema-266805-unsplash.jpg") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    background-position: 50% 3%;
    margin: 0;
}

.contenedor__notice--box-card {
    padding: 40px;
}

.footer-bg {
    background-color: #0d1417
}

.footer__contenedor {
    padding-top: 20px;
}

.footer__contenedor--title {
    padding-top: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.footer__contenedor--parrafo {
    margin: 0;
}

@media screen and (max-width: 770px) {
    body {
        margin-top: 89px;
    }
    .logo--img {
        width: 87px;
    }
    .img-bg {
        height: 100%;
    }
    .slider--titulo {
        color: #fff;
        font-size: 20px;
        text-align: center;
    }
    .slider--parrafo {
        display: none;
    }
}